.regForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 20px;
}

.regForm .name {
  margin-bottom: 20px;
}

.regForm .email {
  margin-bottom: 20px;
}

.regForm .password {
  margin-bottom: 20px;
}
