.regForm {
  width: 300px;
  padding-top: 20px;
}

/* label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
} */

.name {
  margin-bottom: 20px;
}

.email {
  margin-bottom: 20px;
}

.password {
  margin-bottom: 20px;
}
