.link {
  margin-left: 10px;
  /* display: flex; */
  text-decoration: none;
  /* padding: 10px; */
  color: #000;
}

.activeLink {
  color: red;
}

.AuthNav {
  margin-left: auto;
}

/* .LogIn {
  margin-left: 10px;
  text-decoration: none;
  color: #000;
} */
