.ContactsList {
  padding-top: 20px;
  text-align: center;
}

.ContactsList li:not(:last-child) {
  margin-bottom: 10px;
}

.ContactsList button {
  margin-left: 10px;
}

.error {
  padding-top: 20px;
}
