.ContactsList {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.ContactsList li:not(:last-child) {
  margin-bottom: 10px;
}

.ContactsList button {
  margin-left: 10px;
}

.error {
  padding-top: 20px;
}
